<% assignment = short_show %>
<tr <% if assignment.ended? %> class= "closed" <%end%>>
  <td><%= link_to assignment.title, assignment %></td>
  <td> <%if assignment.ended?%>Closed<% else%> <%= (assignment.due_at).strftime "%b %e, %l:%M %p" %><%end%></td>
  <% if user_signed_in? && current_user.admin? %>
  <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
  <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>