
<div class="well" style="background-color:#ffffff; height:150px;
overflow:scroll;">     <style>     .c2 {         font-size: 9pt;         font-
weight: bold;         line-height: 10pt;     }     .c1 {         font-size: 9pt;
line-height: 10pt;     }     </style>     <p class="c1"><span>Stanford
University &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; </span><span class="c2">Informed Consent
Form</span><span>&nbsp;</span><span class="c2">&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p><p class="c1"><span
class="c2">Study of Video Discussion</span></p><p class="c1"><span>FOR QUESTIONS
ABOUT THE STUDY, CONTACT: Chinmay Kulkarni, Gates 377, 353 Serra
Mall,</span></p><p class="c1"><span>Stanford, CA 94305, (650) 646-4523,
</span><span class="c3"><a class="c5"
href="mailto:chinmay@cs.stanford.edu">chinmay@cs.stanford.edu</a></span></p><p
class="c0"><span></span></p><p class="c1"><span
class="c2">DESCRIPTION:</span><span>&nbsp;You are invited to participate in a
research study on peer assessment. In this study, you will grade your classmates using our software. With your consent, we will log your interaction
with our system, such as when you visit the website, and what pages you visit. </span></p> <p class="c1">If you are using this tool with an
online class, then we may correlate your software usage with class progress
(e.g. class participation, class grades), with your instructors' consent. If
your instructor consents, and you fill out surveys related to the class (such as
a pre-class survey), we may correlate your system usage with information on such
surveys (such as your age and gender). </p><p class="c1"><span class="c2">RISKS AND
BENEFITS:</span><span>&nbsp;There are no risks associated with this study beyond
those encountered in daily life. &nbsp;We cannot and do not guarantee or promise
that you will receive any benefits from this study.</span></p><p
class="c1"><span class="c2">TIME INVOLVEMENT:</span><span>&nbsp;Typically, time for grading is between 20 minutes- 60 minutes. Contact your instructor for the duration and frequency of grading tasks you will participate in.</span></p><p class="c1"><span
class="c2">PAYMENTS:</span><span>&nbsp;You will be not be financially compensated for your
participation.</span></p><p class="c1"><span class="c2">COSTS:
</span><span>There are no costs for participating in this study.</span></p><p
class="c1"><span class="c2">SUBJECT&#39;S RIGHTS:</span><span>&nbsp;If you have
read this form and have decided to participate in this project, please
understand your participation is voluntary and you have the right to withdraw
your consent or discontinue participation at any time without penalty or loss of
benefits to which you are otherwise entitled. You can choose to discontinue your
participation by deleting your account, or by emailing us. &nbsp;You have the
right to refuse to answer particular questions. Your individual privacy will be
maintained in all published and written data resulting from the study. 
&nbsp;</span></p><p class="c1"><span class="c2">RIGHT TO DISCONTINUE
STUDY:</span><span>&nbsp;The protocol director reserves the right to discontinue
your participation in the study at any point for any reason.</span></p><p
class="c1"><span class="c2">Contact Information: &nbsp;</span></p><p
class="c1"><span>Questions, Concerns, or Complaints: If you have any questions,
concerns or complaints about this research study, its procedures, risks and
benefits, you should ask the Protocol Director, Kathryn Papadoupolous or Chinmay
Kulkarni, at (650) 723-3692. &nbsp;</span></p><p class="c1"><span>Independent
Contact: If you are not satisfied with how this study is being conducted, or if
you have any concerns, complaints, or general questions about the research or
your rights as a participant, please contact the Stanford Institutional Review
Board (IRB) to speak to someone independent of the research team at
(650)-723-2480 or toll free at 1-866-680-2906. You can also write to the
Stanford IRB, Stanford University, Stanford, CA 94305-5401.</span></p><p
class="c0"><span></span></p> </div>
