<div style="margin: 20px">
<h1><span style="color: #999;font-weight:200;">Contact us!</span></h1>

<p>PeerStudio was developed by a team of researchers from Stanford and UC San Diego. The PeerStudio platform provides a space where peers can submit work and review each other, <i>before</i> turning in their final draft of work! Our system leverages the massive scale of online courses to give feedback within hours, and is compatible with Coursera.</p>

<p><strong>If you would like to use PeerStudio, we would love to hear from you! Please submit the form below, and we'll get in touch with you shortly.</strong> If the form isn't working, or if you have other questions or concerns, contact us as <a href="mailto:hello@peerstudio.org">hello@peerstudio.org</a>.</p>

<div style="text-align: center;">
<iframe src="https://docs.google.com/forms/d/1HF3X9j2xrT4yt120Av-2u3Mp1TTzN1tQCaq27rZlN-o/viewform?embedded=true" width="1000" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></div>
</div>