<div class="row-fluid">
	<h1>Terms of Use</h1>
	<p>Please read these Terms of Use ("Terms") carefully before accessing or participating in any chatroom, newsgroup, bulletin board, mailing list, website, transaction or other on-line forum available at peerstudio.org, stanford.edu or other related websites ("Peerstudio").</p>

	<p>By using and participating in Peerstudio, you signify that you have read these terms and agree to be bound by and comply with the Terms of Service for Stanford Online Courses. You can find the latest copy of these Terms here: <a href="https://class.stanford.edu/tos">https://class.stanford.edu/tos</a>.</p>

	<p>Last updated <strong>Aug 15, 2014</strong></p>
</div>