<tr>
  <td align="center" valign="top" style="padding-bottom:30px">
    <table border="0" cellpadding="0" cellspacing="0" width="600" id="footerDisclosure" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">
      <tr>
        <td>
          <small>You received this message because you signed up for a course on <strong>PeerStudio</strong>. If you would like to opt-out of future notification emails, log in and visit your <%= link_to "Account Settings", edit_user_registration_url %> to change your email preferences.</small>
        </td>
      </tr>
    </table>
  </td>
</tr> 