Hey <%= @user.name%>!

Thank you for your great reviews! Your MOOC-mates found them very helpful and insightful.
<%if !@review.other_rating_comments.nil? %> Here are a few of their comments: <div style="font-weight:lighter;">"<%=@review.other_rating_comments %>"</div><% end%>
<%= link_to "Review some more?", assignment_url(@assignment)%>