<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
	 <body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="background-color:#f2f2f2">
    <tr>
        <td align="center" valign="top" style="padding-top:30px;padding-bottom:30px">
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer" style="background-color:#ffffff;border-collapse:separate!important;border-radius:4px;border:1px solid #E5E5E5;">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailHeader">
                            <tr>
                                <td align="center" valign="top" style="color:#505050;font-family:Helvetica,Arial,sans-serif;font-size:15px;padding-top:40px;padding-right:40px;padding-bottom:30px;padding-left:40px;text-align:left">
                                  <h3>Hey <%= @user.name%>!</h3>

                                  <h3>Submit your current draft for <%=@assignment.title%> to get feedback from your MOOC-mates within hours!</h3>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>    
                <tr>
                  <td align="center" valign="middle" style="padding-right:40px;padding-bottom:40px;padding-left:40px">
                    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#6dc6dd;border-collapse:separate!important;border-radius:3px">
                        <tr>
                          <td>
                            <%= button_to "View your current draft", edit_answer_url(@answer), method: "get", class: "btn btn-large btn-info"%>
                           </td>
                        </tr>
                    </table>
                    <div style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">Remember that you must give two MOOC-mates feedback before you can see your own, so helping your MOOC-mate helps you!</div>
                  </td>
                </tr>          
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter" style="color:#505050;font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">
                            <tr>
                                <td align="center" valign="top">
                                  
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </table> 
  </body>
  </html>
