
<div class="row-fluid">
  <div class="col-md-3 col-md-offset-4">
    
    <div class="login-panel panel panel-default">
      <div class="panel-heading">             
          <h3 class="panel-title">Please Sign In to <strong style="font-family: 'Rock Salt', cursive;">PeerStudio</strong></h3>
      </div>
      <div class="panel-body">
        <%= render partial: "devise/sessions/login_buttons" %>
      </div>
      <div class="panel-footer">
          <a href="#" class="enable-password-login">I have a password</a>
      </div> 
    </div>
  </div>
</div>


<br />

<%= #render "devise/shared/links" 
%>
