<% if assignment.nil? or assignment.course.show_timer? %>
  <h3 style="font-weight:300; display:none;" id="countdown-banner"> Submit a draft within <span id="time-left" style="color: #428bca; font-weight:bolder;">4 hours</span> and get feedback by <span id="feedback-time">10 PM</span> <span id="feedback-day">tonight</span>. <small>(You can improve your essay and submit again!)</small></h3>
<% end %>
