<h1>About Peerstudio</h1>
<p>Peerstudio is a research project at Stanford University and UC San Diego</p>

<h2>Software credits and licenses
<small>This website uses the following software components and libraries.</small></h2>

<h4>Icons and artwork</h4>
<p><a href="http://thenounproject.com/term/feedback/24834/">Feedback</a> designed by Wesley Hare from the Noun Project</p> (licenced under Creative Commons Attribution 3.0 Unported (CC BY 3.0))
<p><a href="http://thenounproject.com/term/pencil/55533/">Pencil</a> designed by Javier Sánchez - javyliu from the Noun Project (licenced under Creative Commons Attribution 3.0 Unported (CC BY 3.0))</p>
<p><a href="http://glyphicons.com/">Glyphicons</a> by http://glyphicons.com/, (licenced under Creative Commons Attribution 3.0 Unported (CC BY 3.0))</p>
<p>Bootstrap by Twitter, Inc (under the MIT license, below)</p>
<p><a href="https://www.flickr.com/photos/yourdon/4340001235/in/photostream/">Untitled</a>, by <a href="https://www.flickr.com/photos/yourdon/">Ed Yourdon</a> (licensed under Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic)

<h2>License terms <small>Some software require us to include license terms when we use their software</small></h2>
<pre>
The MIT License (MIT)



Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
</pre>