<h1><span style="color: #999;font-weight:200;">Sometimes you just need a little</span> <span style="font-weight:300;">help</span></h1>

<p>This page helps you solve technical problems you might face with PeerStudio. It doesn't help you with deadlines or course policy-- your professors and TAs remain your best resources for that.</p>

<h2>Quick fixes</h2>
<p>Here are a few quick things you can try for nearly all problems.</p>
<ul>
	<li><strong>Use a different browser</strong> If you are using an old browser, many features may not work. We recommend you use the most updated version of Chrome, Firefox or Safari. We have very limited development resources, and can't ensure the site works with Internet Explorer.</li>
	<li><strong>Are you logged in?</strong> Many actions require a login. If you're not logged in, try logging in, and see if it works. If you succeed after logging in, report a bug below. </li>
	<li><strong>Try one more time</strong> Try again, but only once or twice! This helps if the site was busy when you tried the first time. Something that doesn't work after a couple of tries is most likely a bug, so report it. Please don't keep trying-- it only makes a busy time busier. We automatically bring more machines online if we notice lots of people using the site, but this still takes time. </li>
</ul>

<h2>Known issues</h2>
<p>Are you having trouble with...</p>
<ul>
	<li><strong>File doesn't upload</strong> File upload won't work if you are using a browser older than Internet Explorer 10, Chrome 32, Safari 5.3. (No plans to fix, please upgrade)</li>
</ul>

<h2>E-mail us your problem</h2>
<p>You can reach us at <a href="mailto:peerstudio@cs.stanford.edu">peerstudio@cs.stanford.edu</a>. We will usually respond within one day. We welcome bugs, suggestions for improvement and general comments. </p>

