<h1>Please select a course to begin</h1>
<ul class="thumbnails" style="padding-left:0px;">
    <% @courses.each do |course| %>
      <%= render :partial => 'course_box', :locals => { :course => course } %>
    <% end %>
</ul>
