<!-- The basic layout is two columns, one where you see the student work, 
	the other where you look at the questions and provide feedback -->

<div class="row">
	<!-- Requested feedback goes here -->
	<h1>Early peer critique</h1>
		
	<div class="well"><strong>Pay particular attention to the description of features</strong>: This student requested for feedback on this feature. Your critique can help them improve.</div>
</div>

<div class="row">
	<div class="span4">
		<p><strong>Quality of description</strong> <span class="label label-success">Recommended</span>
			<p>A good quality description re-represents features of the images. Does this text describe A) what actually appeared in the images? B) what was happening nearby in space or time to the captured images? C) what one would do in some generic version of the activity that was observed?</p>

			<p>How does this submission do?
			<button class="startCritique btn btn-primary">Start critique</button></p>

			<div class="iLike well">Using your mouse, highlight parts of the essay that have a particularly <em>good</em> quality of description.
				<br/>
			<textarea placeholder="What do you like about the parts you highlighted?"></textarea> 
			<button class="startIWish btn btn-primary">Continue</button></div>

			<div class="iWish well">Using your mouse, highlight parts of the essay that you wish had a better quality of description.

			<textarea placeholder="What do you think should be changed about the parts you highlighted?"></textarea> 

			<p><em>Example: </em> Stick more closely with the details in the photos. Don't try to discuss so much material. Focus on a smaller piece of activity. Use the assignment to tune the cognitscope.</p>

			<p>If you choose any of these pieces of feedback, be sure to also say how to make those changes.</p>
			<button class="startIWish btn btn-primary">Continue</button></div>
	</div>
	<div class="span8">
		<div class="editable">
			<p>These two pictures show daily tasks at an office that specializes in corporate search and analysis for private equity firms and building out the senior management teams of their portfolio companies.</p>

			<img src="https://photos-3.dropbox.com/t/0/AACChBDyrBrMkO9iNZBbibNk4lbuoKXnYwi0at1JziXT_A/12/527132/png/2048x1536/3/1387832400/0/2/Screenshot%202013-12-23%2011.32.36.png/dQ0P9fXu4wUKTFpLJ9PCpIhx_A_S_NicCc63jpec1IY"/>
			<p>In the first photo, four people are seated at two facing desks. These desks are located against one side of the main room of an office space. In the background we can see two research assistants engaged in conversation as well as a third member of the office at a separate desk. In the foreground, we can see the lead search analyst explaining something to one of his research assistants and the research assistant is jotting down notes on a small piece of paper. At the time, the superior was listing attributes that were desirable for a potential lead in a corporate search to fill an open position at a private equity firm. The superior has a cup of iced coffee in front of him. I am able to infer that the superior is speaking to his subordinate in hopes of directing him to do something. He is using a coding scheme organized in the language (Goodwin 1994) to designate the best candidates, e.g. calling them hot. He was also referring to a visual representation he constructed previously on his computer display. This sort of professional vision is what allows him to be an authority on a subject and lead his research team in their tasks (Goodwin). The coffee at his desk suggests that this office does not have a coffee maker and that the superior does not like working without his daily beverage. His subordinate is also creating an inscription that could be used (or lead to the formation of another inscription) to determine the best candidate for a specific position at an equity firm. This inscription might also be looked at as a form of outsourced memory that allows him to offload the cognitive cost of recalling this information to a perceptual system (Clark 2008).</p>
	 		
	 		<img src="https://photos-6.dropbox.com/t/0/AAD_17wgTLL8s_5GUU8bIvqY73KvFxLBA1mJQ2mEQ0XNzA/12/527132/png/2048x1536/3/1387832400/0/2/Screenshot%202013-12-23%2011.35.16.png/sKFKV5GuIg18gRuADDK7-wAzhgSBMXFodeGRwwphndQ"/>
	 		<p>In photo 2, we see maps on the walls. I really only noticed these maps on the wall after looking at my photos later. So I contacted someone at the office to see if they still use them. He said that they do indeed still use them at times and that there are still some pins in the map marking locations of trips and searches. One map is of the United States and the other is of the entire globe with the flags of all of the countries arranged along the bottom. There is also a television mounted in the corner of the wall and a case of books to the right, both of which could be analyzed in their own right, but the maps really caught my eye. It occurred to me while analyzing the photo that reading a map could be considered a form of professional vision. People become enculturated to understand how the flat map corresponds to three-dimensional space. Maps can be powerful tools, because of how they use coding schemes, highlighting, and graphical representations (Goodwin).</p>
			
			<p>I am able to infer that these maps are not used very often. The workers at this office prefer to use google maps when looking up locations rather than a physical map. It would be interesting to find out more about why they still have the maps on the wall because even though they are seldom used and are now somewhat obsolete as a static representation, they are still on the wall. But that is a question for another time!</p>

			WORKS CITED

			1. Clark, Andy (2008), Supersizing The Mind. New York: Oxford University Press.

			2. Charles Goodwin, Professional Vision, American Anthropologist. September 1994.
		</div>
	</div>
</div>
