// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-comparison-box td {
	padding: 0 8px;
}

.checkbox-container {
	
}

.reviewer-label {
	width: 0.5em;
	height: 1em;
	
	/*-moz-border-radius:15px;
  	-webkit-border-radius:15px;
  	border-radius:10px;*/
  	margin-left: 0px;
  	float:right; 
}

.reviewer1 {
	color: #1f77b4;
}

.reviewer2 { 
	color: #9467bd;
}

.reviewer3 {
	color: #8c564b;
}


.reviewer4 { 
	color: #7f7f7f;
}

.reviewer5 { 
	color: #17becf;
}

/* avoid reviewer colors that are culturally charged, or have strong valence */
.reviewer6 { 
	color: #e377c2;
}

/* avoid reviewer colors that are culturally charged, or have strong valence */
.reviewer7 { 
	color: #bcbd22;
}
/* avoid reviewer colors that are culturally charged, or have strong valence */
.reviewer8 { 
	color: #2ca02c;
}

/* avoid reviewer colors that are culturally charged, or have strong valence */
.reviewer9 { 
	color: #d62728;
}

/* avoid reviewer colors that are culturally charged, or have strong valence */
.reviewer10 { 
	color: #ff7f0e;
}



.rubric {margin: 0; padding: 0;}
.rubric li {list-style-type: none; background-color:#e7e7e7; margin:20px 0; padding:10px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:0.5em;}
#reviews {min-height: 200px;}

input.toggle-checkbox,input.scale-checkbox {display:none;}
.progress.score-progress {height: 5px;}

li.incomplete-rubric {border: 1px solid red;}

.slider-selection {
	background: #0f0;
}

textarea.rubric-comment {
	
}
