
<% content_for :context_menu do %>
  <%= render partial: "reviews/feedback", locals: {feedback_items_by_rubric_item: feedback_items_by_rubric_item, answer: answer, trigger: @trigger} %>
  <br/>
  <% if show_revision_link %>
    <div class="form-controls">
      <%= link_to "Revise submission", reflect_answer_path(answer), class: "btn btn-primary"%>
      <% if !answer.review_completed? %>
        <div class="pull-right">
            <%= link_to "Stop reviewing", unsubmit_for_feedback_answer_path(answer), :class=>"btn btn-danger", :role=>"button", :method=>:post %>
        </div>
      <% else %>
        <div class="pull-right">
            No longer being reviewed
        </div>
      <% end %>
    </div>
  <% end %>
  <br/><br/>
<% end %>
