
<% content_for :context_menu do %>
  <% if show_revision_link %>
  <br/>
    <div class="form-controls">
      <%= link_to "Revise submission", reflect_answer_path(answer), class: "btn btn-primary"%>
      <div class="pull-right">
          <%= link_to "Stop reviewing", unsubmit_for_feedback_answer_path(answer), :class=>"btn btn-danger", :role=>"button", :method=>:post %>
      </div>
    </div>
  <% end %>

  <%= render partial: "reviews/feedback", locals: {feedback_items_by_rubric_item: feedback_items_by_rubric_item, answer: answer} %>
  <br/>
<% end %>