<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<%= render :partial=>'layouts/global_includes' %>
<body>
  <%= render :partial => 'layouts/notice', :locals => {:notice => notice, :alert => alert} %>
  <%= yield %>
  <%= render :partial=>'layouts/global_includes_async' %>
</body>
</html>